<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>BaseController</servlet-name>
        <servlet-class>controller.BaseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BaseController</servlet-name>
        <url-pattern>/baseController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserRegister</servlet-name>
        <servlet-class>controller.UserRegisterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegister</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListAccount</servlet-name>
        <servlet-class>controller.ListAccountController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListAccount</servlet-name>
        <url-pattern>/ListAccount</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewAccountDetailController</servlet-name>
        <servlet-class>controller.ViewAccountDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewAccountDetailController</servlet-name>
        <url-pattern>/viewAccountDetail</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditProfileController</servlet-name>
        <servlet-class>controller.EditProfileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProfileController</servlet-name>
        <url-pattern>/EditProfileController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddAccountController</servlet-name>
        <servlet-class>controller.AddAccountController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAccountController</servlet-name>
        <url-pattern>/AddAccountController</url-pattern>
    </servlet-mapping>

</web-app>
